/* =================================================================================
~ Single Artist
================================================================================= */

.artist-detail {
    &__col {
        margin-bottom: 25px;
    }

    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__introduction {
        color: $secondary;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__genres {
        display: flex;
        margin-top: 30px;
    }

    &__genres-link {
        background-color: $off-white;
        border-radius: 15px;
        color: $secondary;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1;
        margin-right: 10px;
        padding: 8px 16px;
        transition: all 100ms ease-in;

        &:hover {
            background-color: darken( $off-white, 5% );
            color: $secondary;
        }
    }

    &__purchase-link {
        margin-top: 30px;
    }

    &__track-embed {
        margin-top: 20px;
    }

    &__social {
        background-color: $off-white;
        border-top: 3px solid $tertiary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        padding: 15px;
    }

    &__social-label {
        font-weight: $font-weight-bold;
    }

    &__social-platforms {
        display: flex;
    }

    &__social-platform {
        background: $secondary;
        border-radius: 50%;
        color: $white;
        display: block;
        font-size: 1.2rem;
        line-height: 2.4rem;
        margin-left: 15px;
        text-align: center;
        width: 24px;
        height: 24px;

        &:hover {
            background: lighten( $secondary, 10% );
            color: $white;
        }
    }

    &__music-videos-container {
        border-top: 1px solid $gray-lightest;
        margin-top: 40px;
        padding-top: 40px;
    }

    &__music-videos-title {
        margin-bottom: 20px;
    }
    
    &__music-videos {
        margin-bottom: -20px;
    }

    &__music-video {
        margin-bottom: 20px;
    }
}

// Medium and larger
@include media-breakpoint-up(md) {
    .artist-detail {
        &__columns {
            display: flex;
        }

        &__col {
            flex: 1;
            margin-bottom: 0;
            width: 50%;

            &:first-child {
                margin-right: 25px;
            }

            &:last-child {
                margin-left: 25px;
            }
        }

        &__music-videos-container {
            margin-top: 80px;
            padding-top: 80px;
        }

        &__music-videos {
            @include make-row();
            margin-bottom: -20px;
        }

        &__music-video {
            @include make-col-ready();
            @include make-col(6);
            margin-bottom: 20px;
        }
    }
}