/* =================================================================================
~ Variables - Override Bootstrap defaults or define custom vars
================================================================================= */

// Colors
$black:					#000;
$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:			lighten(#000, 80%);   // #ccc
$gray-lightest:         lighten(#000, 93.5%); // #eee
$off-white:             #f1f1f1;
$white:					#fff;

$copy:                  #4A4A4A;
$primary:       		#ee7500;
$secondary:     		#16284c;
$tertiary:              #ebba16;

$success:       		$green;
$info:          		$cyan;
$warning:       		$yellow;
$danger:        		$red;

$facebook: 				#3B5998;
$twitter: 				#33CCFF;
$google: 				#000000;
$linkedin: 				#4875B4;
$email: 				#ec0501;

// Typography
$font-family-sans-serif:		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-family-serif:				'Georgia', 'Times New Roman', serif;
$font-family-icon:				'FontAwesome';
$font-family-monospace:			Monaco, Consolas, monospace;
$font-family-base:				$font-family-sans-serif;

$font-size-base:		1.6rem;
$line-height-base:		1.45;

$font-weight-light:		300;
$font-weight-normal:	400;
$font-weight-medium:	500;
$font-weight-demi:		600;
$font-weight-bold:		700;
$font-weight-base:		$font-weight-normal;

$grid-gutter-width:     20px;