/* =================================================================================
~ Button
================================================================================= */

.btn {
    border: 2px solid $secondary;
    border-radius: 20px;
    color: $secondary;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 1;
    padding: 10px 25px;
    transition: all 150ms ease-in;

    &:hover {
        background: $secondary;
        color: $white;
    }

    &--alt {
        background: $primary;
        border: none;
        border-radius: 30px;
        color: $white;
        text-transform: uppercase;

        &:hover {
            background: darken( $primary, 5% );
        }
    }

    &__icon {
        display: inline-block;
        margin-right: 10px;
    }
}