/* =================================================================================
~ Button
================================================================================= */

.btn {
    border: 2px solid $secondary;
    border-radius: 20px;
    color: $secondary;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 1;
    padding: 10px 25px;
    transition: all 100ms ease-in;

    &:hover,
    &--active {
        background: $secondary;
        color: $white;
    }

    &--alt {
        background: $primary;
        border: none;
        border-radius: 30px;
        color: $white;
        text-transform: uppercase;

        &:hover {
            background: darken( $primary, 5% );
        }
    }

    &--buy {
        font-size: 2.2rem;
        padding: 20px 40px;
    }

    &__icon {
        display: inline-block;
        margin-right: 10px;
    }
}

// Small and smaller
@include media-breakpoint-down(sm) {
    .btn {
        &--alt {
            .btn__text {
                display: none;
            }
    
            .btn__icon {
                margin-right: 0;
            }
        }
    }
}