/* =================================================================================
~ Footer
================================================================================= */

.footer {
	background: $secondary;
	color: $white;
	font-weight: $font-weight-light;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

	&__container {
		@include make-container();
	}
}

// Large and larger
@include media-breakpoint-up(lg) {
	.footer {
		&__container {
			@include make-container-max-widths();
		}
	}
}