/* =================================================================================
~ Header
================================================================================= */

.header {
	position: relative;

	&__logo {
		background-image: url('../images/logo.svg');
		background-repeat: no-repeat;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include make-container();
	}

	&__toggle {
		cursor: pointer;
		font-size: 2.6rem;

		&:hover,
		&.active {
			color: $primary;
		}
	}

	&__logo {
		font-size: $font-size-base * 2;
		font-weight: $font-weight-bold;
	}

	&__brand-container {
		border-left: 1px solid $gray-lighter;
		border-right: 1px solid $gray-lighter;
		padding: 20px 40px;
	}

	&__brand-header {
		font-size: 1.2rem;
		text-align: center;
		text-transform: uppercase;
	}
}

// Medium and smaller
@include media-breakpoint-down(md) {
	.header {
		&__logo {
			width: 240px;
			height: 55px;
		}

		&__nav {
			background: $gray-lightest;
			display: none;
			padding: 0 1.5rem 1.5rem;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;

			&.active {
				display: block;
				z-index: $zindex-popover;
			}
		}

		&__menu {
			margin-bottom: 1.5rem;
		}
	}
}

// Large and larger
@include media-breakpoint-up(lg) {
	.header {
		&__container {
			@include make-container-max-widths();
		}

		&__logo {
			width: 240px;
			height: 55px;
		}

		&__toggle {
			display: none;
		}

		&__nav {
			display: flex;
		}

		&__menu {
			display: flex;
			align-items: center;
		}

		&__search {
			margin-left: 1.5rem;
		}
	}
}