/* =================================================================================
~ Hero
================================================================================= */

.hero {
    background-size: cover;
    background-position: center;

    &--after {
        background-color: $secondary;
        content: '';
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        @include make-container();
        @include make-container-max-widths();
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__headline {
        color: $white;
        font-size: 4.5rem;
        text-align: center;
    }
}

// Large and larger
@include media-breakpoint-up(lg) {
    .hero {
        &__container {
            padding-left: 180px;
            padding-right: 180px;
        }
    }
}