/* =================================================================================
~ Menu
================================================================================= */

// Large and larger
@include media-breakpoint-up(lg) {
	.menu {
		display: flex;

		&-item {
			margin-right: 1.5rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}