/* =================================================================================
~ Pagination
================================================================================= */

.pagination {
    border-top: 1px solid $gray-lightest;
    padding-top: 40px;
    text-align: center;

    .page-numbers {
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
        padding-left: 5px;
        padding-right: 5px;
    }

    .current {
        background-color: $tertiary;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        line-height: 32px;
        width: 32px;
        height: 32px;
    }

    .next,
    .prev {
        text-transform: uppercase;
    }

    .prev {
        margin-right: 15px;
    }

    .next {
        margin-left: 15px;
    }
}